{% extends "books/layout.html" %}

{% block title %}
    Reading List
{% endblock %}

{% block header %}
    {% if user.is_authenticated %}
        {% if user.first_name %}
            <span>
                {{ user.first_name }}'s Reading List
            </span>
        {% else %}
            <span>
                {{ user.username }}'s Reading List
            </span>
        {% endif %}
    {% else %}
        <span>
            Sign in to edit your reading list.
        </span>
    {% endif %}
{% endblock %}

{% block style %}
    <style>
        .grow { 
        transition: all .5s ease-in-out; 
        }
        .grow:hover { 
        transform: scale(1.03); 
        }
    </style>
{% endblock %}

{% block buttonheader %}
    <div class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
            <button onclick = "window.location.href='/'" type="button" class="btn btn-dark mx-2 my-2 nav-item">Home</button>
        {% else %}
            <button onclick = "window.location.href='/'" type="button" class="btn btn-outline-dark mx-2 my-2 nav-item">Home</button>
            <button onclick = "window.location.href='/login'" type="button" class="btn btn-outline-dark mx-2 my-2 nav-item">Log In</button>     
            <button onclick = "window.location.href='/register'" type="button" class="btn btn-dark mx-2 my-2 nav-item">Sign Up</button>    
        {% endif %}
    </div>
{% endblock %}


<!-- Cards-->
{% block body %}
    {% if user.is_authenticated %}
        {% for book in readinglist %}
            <div class="col-auto mb-5 d-flex">
                <div class="card shadow grow" style="width: 13rem;">
                    <img class="card-img-top" src="{{ book.image }}" width="100%"height="310" style="object-fit:cover;">                            
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <div class="mt-auto">
                            <p class="card-text mt-auto">{{ book.authour }}</p>
                            <button style="width: 100%;" type="button" class="btn btn-dark mt-auto" data-bs-toggle="modal" data-bs-target="#detailModal{{ forloop.counter }}">
                                Learn More
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Modal -->
            <div class="modal fade" id="detailModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="detailModalLabel{{ forloop.counter }}">{{ book.title }}</h5>
                        </div>
                        <div class="modal-body text-center">
                            {{ book.dsc}}
                        </div>
                        <div class="modal-footer d-flex ">
                        <a id = "eplLink" class="btn btn-dark" href="{{ book.url}}" role="button">Get Book</a>
                        <form id="add-to-list" class="me-auto">
                            {% csrf_token %}  
                            <button type="submit" class="btn btn-danger" data-title='{{ book.title}}'>
                                Remove
                            </button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <h2 class='text-center mt-2 mb-4'>You've got no books! Head to the <a style="text-decoration: none;" href="/">homepage</a> to add some more.</h2>
        {% endfor %}
    {% else %}
        <h2 class='text-center mt-2 mb-4'>Sign up or Log in to view your reading list.</h2>
    {% endif %}

{% endblock %}


{% block scripts %}
<script>
    document.addEventListener('click', function (event) {
        if (event.target.matches('button')) {
            event.target.focus()
        }
        })

    $(document).on('submit', '#add-to-list', function(event) {
        event.preventDefault();
        var $btn = $(document.activeElement);
        var newTitle = $btn.data('title');

        $.ajax({
            type:"POST",
            url:'/updatelist',
            data: {
                title: newTitle,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(){
                location.reload()
            }
        });
    })
</script>  

{% endblock %}

{% block footer %}

    <footer class="blog-footer text-muted" style="text-align: center;">
        <div class="container">
        {% if user.is_authenticated %}
            {% if readinglist %}
            <p class="text-center">
                <a href="#" class="link-dark">Back to top</a>
            </p>
            {% endif %}
        {% endif %}
        <p>Made in Edmonton by <a rel="noopener" target="_blank" href="https://www.linkedin.com/in/rupin-bapuji/" class="link-dark" style="text-decoration: none;">Rupin Bapuji</a>, <a rel="noopener" target="_blank" href="https://www.linkedin.com/in/youssefismailuofa/" class="link-dark" style="text-decoration: none;">Youssef Ismail</a>, and <a rel="noopener" target="_blank" href="https://www.linkedin.com/in/kourosh-kehtari-889aa6203/" class="link-dark" style="text-decoration: none;">Kourosh Kehtari.</a> </p>
            <p>Contact us at <a target="_blank" class="link-dark" href="mailto:edmreads@gmail.com">edmreads@gmail.com</a></p>
        </div>
    </footer>
{% endblock %}


